* {
    font-family: arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: #eeeeee;
}

header {
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0px 5px 5px #888888;
}

header nav {
    width: 960px;
    margin: 0 auto;
}

header nav h1 {
    padding: 10px;
}

header nav a {
   margin: 10px; 
}

main {
    width: 960px;
    margin: 0 auto;
}

aside {
    margin-left: 10px;
    float: left;
    width: 240px;
}

aside form {
    padding: 5px;
    border: 1px dotted #cccccc;
    margin-bottom: 10px;
}

aside form h4 {
    padding: 5px;
}

aside form p {
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}

aside form p input#requestLineCheckbox,
aside form p input#headersCheckbox {
    margin-left: 20px;
}

aside form p input.requestLine,
aside form p input.headers {
    margin-left: 40px;
}

aside form input[type='file'],
aside form input[type='text'] {
    box-sizing: border-box;
}

aside form input[type='file'],
aside form input[type='text'],
aside form input[type='submit'],
aside form input[type='reset'] {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

section {
    margin-left: 10px;
    width: 700px;
    float: left;
}

section article {
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 5px #888888;
}

section article h2 {
    margin-bottom: 10px;
}

section article h4 {
    padding: 10px;
    border-top: 1px solid #cccccc;
}

section article p {
    line-height: 1.3em;
    margin-left: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

section article iframe {
    width: 640px;
    height: 360px;
    display: block;
    margin: 0 auto;
}

section article table {
    border-collapse: collapse;
}

section article table td, 
section article table th {
    max-width: 250px;
    word-wrap: break-word;
    border: 1px solid #cccccc;
    padding: 5px;
}

seciton article table th {
    text-align: center;
}

section article table tr:nth-child(even) {
    background-color: #eeeeee;
}

section article p a {
    margin-right: 10px;
}

